<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/main.css" />
	</head>

	<body>
		<div class="admin-main">
			<blockquote class="layui-elem-quote">
				<p>卓望广告有限公司 </p>

			</blockquote>
			<fieldset class="layui-elem-field">
				<legend></legend>
				<div class="layui-field-box">
					<fieldset class="layui-elem-field layui-field-title">
						<legend>卓望广告有限公司 </legend>
						<div class="layui-field-box">
							<p>京ICP备16021423号-2 </p>
						</div>
					</fieldset>
				</div>
			</fieldset>
		</div>
	</body>

</html>